.form-style {
  width: 34%;
  padding: 20px;
  margin-left: 33%;
  margin-right: 33%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 50px;
  border-radius: 5px;
}
.add-btn {
  background-color: black;
  color: white;
  width: 50%;
  padding: 8px;
  text-transform: uppercase;
  border: 1px solid black;
}

@media screen and (max-width: 375px) {
  .form-style {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
